@model IEnumerable<TrashCollection.Models.Employee>

@{
    ViewBag.Title = "Pick-Ups";
}

<h2>Waste Pick-Ups </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @*foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber) 
        </td>
        

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.firstName }) |
            @Html.ActionLink("Details", "Details", new { id=item.firstName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.firstName })
        </td>
    </tr>
        *@
}

</table>
