@model IEnumerable<TrashCollection.Models.Customer>
@{
    ViewBag.Title = "Pick-Ups";
}

<h2>Waste Pick-Ups </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPickedUp)
        </th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.zipCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dayOfWeek)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.isPickedUp)
        @Html.ActionLink("Picked Up?", "PickedUp")
        
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
    </td>



</tr>
}

</table>
