@model TrashCollection.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickUpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickUpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billingAddress)
        </dd>

        <dt> 
           @Html.DisplayNameFor(model => model.dayOfWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dayOfWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dueDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FirstName }) 
    @Html.ActionLink("Back to List", "Index")
</p>
